@use 'variaveis';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style: none;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: variaveis.$corPrincipal;
    font-size: 24px;

    p {
        color: variaveis.$corTexto;
    }
}
